* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
$berakpoint-deskop-min: 1025px;
$berakpoint-deskop-max: 1200px;
$berakpoint-laptop: 769px;
$berakpoint-tablets: 487px;
$berakpoint-mobile: 350px;
body {
  background-color: #f5f7fb;
  font-family: sans-serif;
}
.container {
  max-width: 75%;
  margin: auto;
}
.container-85 {
  max-width: 85%;
  margin: auto;
}
.container-95 {
  max-width: 95%;
  margin: auto;
}
.flex {
  display: flex;
}

.navbar-box {
  width: 21%;
}
.main-box {
  padding: 50px 30px;
  width: 75%;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

// For mobile devices: 320px to 480px.
// For tablets and ipads: 481px to 768px.
// For laptops: 769px to 1024px.
// For desktops: 1025px to 1200px.

// ************Navbar component start*******\\
.navbar-component {
  width: 20%;
  min-height: 100vh;
  background-color: #f1f5f1;
  position: fixed;
  .navbar-header {
    background-color: #f5cfc5;
    height: 350px;
    padding: 20px;
    .box-1 {
      display: flex;
      justify-content: space-between;
      img {
        margin: auto 0;
      }
      .image1 {
        width: 90px;
      }
      .image2 {
        width: 19px;
      }
    }
  }
  .box-2 {
    text-align: center;
    margin-top: 35px;
    .userImg {
      padding: 5px;
      border: 2px solid red;
      border-radius: 100px;
    }
    .starImg {
      width: 115px;
      margin-top: 20px;
    }
  }
  .navbar-main {
    min-height: 100%;
    ul {
      padding-top: 25px;
      li {
        padding: 10px 30px;
        &:hover {
          color: #ee6c4d;
        }
        a {
          display: flex;
          color: black;
          &:hover {
            color: #ee6c4d;
          }

          p {
            margin-left: 15px;
          }
        }
      }
    }
  }
}

// /////////// *Navbar component end* \\\\\\\\\\\\\\

// /////////// *Modal component start* \\\\\\\\\\\\\\

.d-none {
  display: none;
}

.d-block {
  display: block;
}
.w-screen {
  position: fixed;
  background-color: black;
  opacity: 0.25;
  width: 100%;
  height: 100%;
  top: 0;
  left: 20%;
}
.modalWindows {
  z-index: 999;
  position: absolute;
  top: 1.625rem;
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 40px;
  width: 600px;
  left: 0;
  right: 0;
  margin: auto;
  .modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .closeModal {
      cursor: pointer;
    }
    h1 {
      font-size: 1.875rem;
      font-weight: 500;
      line-height: 2.25rem;
    }
  }
  .modal-content {
    margin: 20px 0;
    .flex-3 {
      display: flex;
      justify-content: space-between;
    }
    .modal-input {
      margin: 10px 0;
      label {
        display: block;
        font-size: 12px;
      }
      .w-full {
        width: 100%;
      }
      input {
        border-radius: 50px;
        border: 1px solid #b7b7b7;
        outline: 2px solid transparent;
        padding: 5px;
        font-size: 12px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        margin: 5px 0;
      }

      select {
        border-radius: 50px;
        border: 1px solid #b7b7b7;
        outline: 2px solid transparent;
        padding: 5px;
        font-size: 12px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 1.75rem;
        margin: 5px 0;
        width: 100%;
      }
      textarea {
        outline: 2px solid transparent;
        outline-offset: 2px;
        padding: 0.75rem;
        border: 1px solid #b7b7b7;
        border-radius: 10px;
      }
    }
    .btn-group {
      display: flex;
      justify-content: space-between;
      button {
        padding: 5px 75px;
        border-radius: 50px;
        font-size: 1.125rem;
        line-height: 1.75rem;
        outline: none;
        border: 1px solid #c2d1d4;
        background-color: transparent;
        cursor: pointer;
      }
      .btn-2 {
        background-color: #ff7b54;
        border: none;
        color: white;
      }
    }
  }
}

// /////////// *Modal component end* \\\\\\\\\\\\\\

// ***********Login page start ************ \\
.login-page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
  flex-direction: row;
  height: 100vh;

  .login-sec {
    width: 45%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 0 30px 30px 0;
    height: 100%;
    nav {
      .nav-box {
        display: flex;
        justify-content: space-between;
        max-width: 440px;
        margin: auto;
        padding: 20px 0;
        h1 {
          font-size: 30px;
        }
        ul {
          display: flex;
          margin: auto 0;
          li {
            list-style-type: none;
            a {
              padding: 8px 15px;
              font-weight: 500;
              font-size: 18px;
              color: black;
              span {
                color: #585858;
              }
            }
          }
        }
      }
    }

    main {
      max-width: 400px;
      margin: 0 auto;
      .login-box {
        margin: 200px 0;

        h1 {
          font-size: 28px;
          margin: 20px 0;
        }
        .input-box {
          border: 2px solid #c2d1d4;
          width: 100%;
          padding: 10px;
          border-radius: 8px;
          margin: 20px 0;
          display: flex;
          span {
            color: #84a2a9;
          }
          input {
            border: none;
            outline: none;
            width: 87%;
            height: 20px;
            font-size: 13px;
            padding: 5px 7px;
            color: #84a2a9;
            background-color: transparent;
          }
          .eyeSlash {
            cursor: pointer;
            color: #c2d1d4;
          }
        }
        .checkbox {
          display: flex;
          margin: 10px 0;
          input {
            width: 15px;
            height: 15px;
          }
          p {
            padding-left: 10px;
            font-size: 13px;
            color: grey;
            span {
              color: #45c78b;
            }
          }
        }
        .signBtn {
          width: 100%;
          margin-top: 30px;
          padding: 15px;
          background-color: #ff7b54;
          border: none;
          border-radius: 10px;
          color: white;
          cursor: pointer;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        }

        h3 {
          text-align: center;
          color: #585858;
          font-weight: 300;
          margin-top: 20px;
          span {
            color: #31a46e;
            margin: 0 10px;
          }
        }
      }
    }
  }

  .img-box {
    width: 50%;
    height: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

@media screen and (max-width: $berakpoint-deskop-min) {
  .login-page {
    .login-sec {
      nav {
        max-width: 93%;
      }
      main {
        max-width: 80%;
      }
    }
  }
}

@media screen and (max-width: $berakpoint-laptop) {
  .login-page {
    display: block;
    .login-sec {
      width: 100%;
      box-shadow: none;

      main {
        background-image: url(../images/login-page-img.png);
        max-width: 100%;
        background-size: cover;
        padding-top: 200px;
        .login-box {
          margin: 0;
          background-color: white;
          padding: 40px;
          border-radius: 30px 30px 0 0;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        }
      }
    }

    .img-box {
      display: none;
    }
  }
}

// /////////// *login page end* \\\\\\\\\\\\\\

// //////////// full calendar start \\\\\\\\\\
.calendarComponent {
  .fc-button {
    background-color: transparent !important;
    border: none;
    color: black !important;
  }
  .fc-button:focus {
    background-color: #ee6c4d !important;
  }
}
// /////////// *full calendar end* \\\\\\\\\\\\\\

// /////////  scheldule page start \\\\\\\\\\\\\\\
.scheldulePage {
  .schelduleNav {
    position: fixed;
  }
  .schelduleMain {
    margin-left: 350px;
    width: 75%;
    max-width: 75%;
    padding: 30px;
  }
}

// /////////  scheldule page end \\\\\\\\\\\\\\\

// /////////  Classes page start \\\\\\\\\\\\\\\
.classes-page {
  .clases-header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    h1 {
      font-weight: 500;
    }
    button {
      background-color: #ee6c4d;
      padding: 7px 25px;
      border-radius: 30px;
      border: none;
      color: white;
      cursor: pointer;
    }
  }

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 1rem;
    .item {
      position: relative;
      background-color: #fff;
      display: flex;
      justify-content: flex-start;
      padding: 1.25rem;
      box-shadow: 5px 5px 13px 2px #00000040;
      border-radius: 1rem;
      width: 450px;
      margin: 5px auto;

      img {
        width: 64px;
        margin: auto 0;
      }
      .item-box {
        margin-left: 1rem;
        h3 {
          font-size: 1.25rem;
          line-height: 1.75rem;
          font-weight: 500;
        }
        h4 {
          font-size: 1rem;
          line-height: 1.5rem;
        }
        .itemBtn {
          display: flex;
          justify-content: space-between;
          margin-top: 0.5rem;
          span {
            display: flex;
            align-items: center;
            padding: 0 10px;
            svg {
              display: inline-block;
              margin-right: 0.25rem;
            }
            .svg1 {
              svg {
                width: 1.25rem;
                height: 1.25rem;
              }
            }
            .svg2 {
              svg {
                width: 1rem;
                height: 1rem;
              }
            }
            .svg3 {
              svg {
                width: 0.75rem;
                height: 0.75rem;
              }
            }
          }
        }
      }
    }
    .item-box-2 {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      width: 1rem;
      height: 2.75rem;
      right: 0px;
      position: absolute;
      --tw-bg-opacity: 1;
      background-color: rgb(239 68 68 / var(--tw-bg-opacity));
    }
  }
}

@media screen and (min-width: 1600px) {
  .classes-page {
    .items {
      // grid-template-columns: repeat(3, 1fr);
      .item {
        width: 450px;
      }
    }
  }
}

@media screen and (max-width: $berakpoint-deskop-max) {
  .classes-page {
    .main-box {
      width: 100%;
      .items {
        max-width: 100%;
        .item {
          width: 90%;
        }
      }
    }
  }
}
@media screen and (max-width: $berakpoint-deskop-min) {
  .classes-page {
    .navbar-box {
      width: 30%;
    }
    .main-box {
      padding: 10px;
      width: 65%;
      .items {
        display: block;
      }
    }
  }
}

// /////////  Classes page end \\\\\\\\\\\\\\\

// ///////// Teacher  page start \\\\\\\\\\\\\\\
.teacherPage {
  display: flex;
  .teacherPageNav {
    width: 21%;
  }

  .teacherPageMain {
    width: 70%;
    .teacher-header {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      max-width: 80%;
      margin: auto;
      h1 {
        font-weight: 500;
      }
      button {
        background-color: #ee6c4d;
        padding: 7px 25px;
        border-radius: 30px;
        border: none;
        color: white;
        margin: auto 0;
        cursor: pointer;
      }
    }
    .items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      gap: 1rem;

      .item {
        background-color: #fff;
        width: 250px;
        text-align: center;
        padding: 20px;
        border-radius: 1.5rem;
        margin: 5px;
        h2 {
          font-size: 1.25rem;
          line-height: 1.75rem;
          color: rgb(112 107 107);
          font-weight: 600;
        }
        h4 {
          font-size: 1rem;
          line-height: 1.5rem;
          font-weight: 500;
        }
        p {
          margin: 10px 0;

          display: flex;
          justify-content: center;
          color: rgb(112 107 107);
          svg {
            width: 1rem;
            height: 1rem;
            margin-right: 5px;
          }
        }
        h5 {
          font-weight: 400;
        }
      }
    }
  }
}

// ///////// Teacher  page end \\\\\\\\\\\\\\\

// ///////// Students  page start \\\\\\\\\\\\\\\
.studentsPage {
  display: flex;
  .studentsPageNav {
    width: 21%;
  }
  .studentsPageMain {
    .header {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
      padding-bottom: 20px;

      h1 {
        font-weight: 500;
      }
      button {
        background-color: #ee6c4d;
        padding: 7px 25px;
        border-radius: 30px;
        border: none;
        color: white;
        cursor: pointer;
      }
    }

    .main {
      width: 90%;
      margin: auto;

      .items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .item {
          padding: 1.25rem;
          width: 95%;
          border-radius: 10px;
          background-color: #fff;

          margin: 10px 0;
          .title {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #c9c9c9;
            padding-bottom: 1rem;
            img {
              width: 4rem;
            }
            .text-box {
              margin-left: 20px;
              h3 {
                color: rgb(51 51 51);
                font-size: 1.125rem;
                line-height: 1.75rem;
                font-weight: 500;
              }
              p {
                display: flex;
                justify-content: space-between;
                font-size: 0.875rem;
              }
            }
          }
          .item-content {
            p {
              display: flex;
              justify-content: space-between;
              padding: 15px 0;
              font-size: 1rem;
              font-weight: 400;
            }
            .itemBtn {
              display: flex;
              justify-content: flex-end;
              div {
                padding: 5px;
              }
              .btn1 {
                display: flex;
                align-items: center;
                svg {
                  width: 1rem;
                  margin-right: 5px;
                }
              }
              .btn2 {
                display: flex;
                align-items: center;
                svg {
                  width: 0.75rem;
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// ///////// Students  page end \\\\\\\\\\\\\\\

// ///////// Location   page start \\\\\\\\\\\\\\\
.locationPage {
  display: flex;

  .locationNav {
    width: 21%;
  }
  .locationMain {
    width: 80%;
    .header {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
      padding-bottom: 20px;
      max-width: 90%;
      margin: auto;
      h1 {
        font-weight: 500;
      }
      button {
        background-color: #ee6c4d;
        padding: 7px 25px;
        border-radius: 30px;
        border: none;
        color: white;
        cursor: pointer;
        margin: auto 0;
      }
    }
    .main {
      max-width: 90%;
      margin: auto;
      .items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .item {
          padding: 10px 5px;
          margin: 10px;
          display: flex;
          align-items: center;
          background-color: #fff;
          border-radius: 11px;
          svg {
            width: 3.5rem;
          }
          p {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

// ///////// Location   page end \\\\\\\\\\\\\\\
